* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.auth-container {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-page {
  height: 100vh;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  min-height: calc(100vh - 70px); /* navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-container input,
.auth-container select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #4e73df;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #375ac2;
}

.auth-container p {
  margin-top: 15px;
  font-size: 14px;
}

.auth-container a {
  color: #4e73df;
  text-decoration: none;
  font-weight: bold;
}
